 /* body{
     
    margin: 0;
}
canvas {
    border: 2px solid black;
    background:rebeccapurple;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;

}  */
/*
#bgimage{                      
    width:600px;
    height:9000px;
    position: relative;
    left: 400px;
    background-image: url("../images/nbg.jpg");
    z-index:1;
    
}

#basket1{
    width:100px;
    height:100px;
    position: absolute;
    top:8900px;
    left:250px; 
    z-index:3;
}
#egg{
    width:10px;
    height: 10px;
    position: absolute;
    top:6px;
    left:20px;
    z-index:-2;
}

#basket2{
    width:100px;
    height:100px;
    position: absolute;
    top:8600px;
    left:0px; 
    z-index:3;
}*/
body{
    padding: 0;
    margin: 0;
    background:rgb(19, 145, 134);
}
/* .container {
	width:100%;
 height:100vh;
 position:relative;
} */
 
 canvas {
    border:2px solid black;
     /* background:skyblue; */
      
      margin-right: auto;
    margin-left: auto;
    display: block; 
    width:50%;
 height:99vh;
} 